.home,
.explore_button,
.explore_container{
  display: flex;
  align-items: center;
}

.home{
  height: 100vh;
  background: url('./assets/home/background-home-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.home::before{
  height: 100vh;
  width: 100%;
  content: '';
  position: absolute;
  background-color: #0B0D17;
  opacity: .6;
}

.grid{
  display: grid;
  grid-template-columns: .8fr 1fr;
  padding: 0 165px;
  margin-top: 5rem;
  z-index: 2;
}

.grid > div{
  display: flex;
  justify-content: center;
}

.text_container{
  flex-direction: column;
}

.text_container .subtitle{
  font-size: 28px;
  letter-spacing: 4.72px;
}

.text_container h1{
  font-size: 150px;
  font-family: 'Bellefair', serif;
  margin: 24px 0;
  color: whited;
}

.text_container .description{
  font-size: 18px;
  line-height: 32px;
}

.explore_container{
  position: relative;
  justify-content: right;
}

.explore_button{
  width: 224px;
  height: 224px;
  background: white;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
  color: black;
  justify-content: center;
  transition: all .3s ease;
}

.ripple{
  width: 274px;
  height: 274px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  position: absolute;
  right: 10px;
  bottom: -10px;
  cursor: pointer;
  border-radius: 50%;
}

.ripple:hover{
  transform: scale(1.3);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
}

.ripple:hover > .explore_button{
  transform: scale(0.7);
}